* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}

.contactUs {
    cursor: pointer;
}

.brand {
    cursor: pointer;
}

.navOptions {
    display: flex;
    gap: 1rem;
}

.navOptions i {
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
}