* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.contactUs {
    cursor: pointer;
}

.brand h2 {
    cursor: pointer;
    font-size: 1.5rem;
}

.navOptions {
    display: flex;
    gap: 1rem;
}

.navOptions i {
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
}

.cartIcon {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartCount {
    position: absolute;
    top: -9px;
    right: -10px;

    min-width: 17px;
    height: 17px;

    padding: 0 4px;

    border-radius: 50%;

    background: black;
    color: white;

    font-size: 10px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}